<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AULA 1-1</title>
</head>
<body>
	<ul>
		<a href="/aula1"><li>Voltar</li></a>
	</ul>
	<br>
	{% for table in table_filmes %}
		<h3>{{name_filmes}}</h3>
		{{titles_filmes[loop.index]}}
		{{ table|safe }}
	{% endfor %}

	<br />
	{% for table in table_avaliacoes %}
		<h3>{{name_avaliacoes}}</h3>
		{{titles_avaliacoes[loop.index]}}
		{{ table|safe }}
	{% endfor %}

	<p>"Formato" dos dados da tabela Avaliações (linhas X colunas): {{shape_avaliacoes}}</p>
</body>
</html>